<div class="container">
<div class="row-fluid">

<h2 align="center" class="my-5">Edit your profile</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

	<div align="center">
       <div><%= image_tag @user.thumbnail.url(:thumb), :class => "rounded-circle" %></div>
     </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

	<section class="row my-5">
	    <section class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	    	<div class="field">
	    	  <%= f.label :Upload_a_new_profile_picture %><br />
	    	  <%= f.file_field :thumbnail, class: "form-control" %>
	    	</div>
	    	
	    	<div class="field">
	    	  <%= f.label :email %><br />
	    	  <%= f.email_field :email, autofocus: true, class: "form-control" %>
	    	</div>

	    	<div class="field">
	    	  <%= f.label :username %><br />
	    	  <%= f.text_field :username, autofocus: true, class: "form-control" %>
	    	</div>

	    	<div class="field">
	    	  <%= f.label :nationality %><br />
	    	  <%= f.text_field :nationality, autofocus: true, class: "form-control" %>
	    	</div>
	    </section>
	    <section class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	    	<div class="field">
	    	  <%= f.label :about %><br />
	    	  <%= f.text_area :about, autofocus: true, class: "form-control", style: "height: 150px;" %>
	    	</div>

	    	<div class="field">
	    	  <%= f.label :New_password %><br />
	    	  <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Change your password, 6 characters minimum" %>
	    	  <% if @minimum_password_length %>
	    	  <% end %>
	    	</div>
	    	<div class="field">
	    	  <%= f.label :New_password_confirmation %><br />
	    	  <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Re-type your new password", class: "form-control" %>
	    	</div>
	    </section>
	</section>
	<hr>

	<section class="row my-5">
		<div class="field col-md-6 col-sm-12 col-xs-12">
		  <%= f.label :current_password %><br />
		  <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Enter your password to save changes"  %>
		</div>
		<div class="actions col-md-6 col-sm-12 col-xs-12 mt-3" align="center">
		<%= f.submit "Update account", class: "btn-lg btn-success" %>
		</div>
		<% end %>
	</section>

	<hr>
	<div align="center" class="my-5">
	  <h4>Cancel my account</h4>
	  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn-md btn-danger" %>
	</div> 

</div><!-- row -->
</div><!-- container -->














