<footer class="footer">
  <div class="container-fluid">
	  <div class="row">
	    <div class="col-lg-3 col-md-3 col-sm-3 col-6 vertical-center-logo">
	    	<div class="logo"></div>
	    </div>
	    <div class="col-lg-3 col-md-3 col-sm-3 col-6 vertical-center">
	    	<ul>
	    		<li>Careers</li>
	    		<li>FAQ</li>
	    		<li>Contact</li>
	    	</ul>
	    </div>
	    <div class="col-lg-3 col-md-3 col-sm-3 col-6 vertical-center">
	    	<ul>
	    		<li>Terms</li>
	    		<li>Privacy</li>
	    		<li>Blog</li>
	    	</ul>
	    </div>	
        <div class="col-lg-3 col-md-3 col-sm-3 col-6 vertical-center-social social-icons">
        	<ul>
        	  <li>
        	    <%= link_to "http://www.youtube.com/" do %>
        	      <%= image_tag 'yt.svg', class: "resize" %>
        	    <% end %>
        	  </li>
        	  <li>
        	    <%= link_to "http://www.facebook.com/" do %>
        	      <%= image_tag 'fb.png', class: "resize-fb"  %>
        	    <% end %>
        	  </li>
        	  <li>
        	    <%= link_to "http://www.twitter.com/" do %>
        	      <%= image_tag 'twt.svg', class: "resize"  %>
        	    <% end %>
        	  </li>
        	  <li>
        	    <%= link_to "http://www.instagram.com/" do %>
        	      <%= image_tag 'ig.svg', class: "resize"  %>
        	    <% end %>
        	  </li>

        	</ul>
        </div>
	  </div>
  </div>
</footer>