<div class="container">
<h2>Posts by all users</h2><br>
<% @post.each do |post| %><br>
    <ul>
    	<strong><%= image_tag post.image.url(:small) %></strong>
    	<li><strong>Posted by: </strong><%= post.user.username %></li>
	    <li><strong>Location: </strong><%= post.location %></li>
	    <li><strong>Price: $</strong><%= post.price.to_i %></li>
	    <li><strong>Rating: </strong><%= post.rating %></li>
	    <li><strong>Description: </strong><%= post.description %></li>
	    <%= link_to "View profile", user_path(post.user.username) %>
	</ul>   
<% end %>
</div>