 <div class="container">
 	<h2 align="center" class="my-5">Latest posts</h2>
	<% @post.each do |post| %><br>
		<div class="row">
		    	<div class="col">
			    	<strong><%= image_tag post.image.url(:medium), class: "mobile-width" %></strong>
			    </div>

			    <div class="col jumbotron">
	    	    	<strong>Posted by: </strong><%= post.user.username %><br>
	    		    <strong>Location: </strong><%= post.location %><br>
	    		    <strong>Price: $</strong><%= post.price.to_i %><br>
	    		    <strong>Rating: </strong><%= post.rating %>
			    	<p><strong>Description: </strong><%= post.description %></p>
			    	<p>*Photo credit:<a href="https://www.alanxelmundo.com"> Alan Estrada</p>
			    	<%= link_to "View profile", user_path(post.user.username) %>
			    </div>	
		</div><!-- row -->
	 <% end %>
</div><!-- container --> 
</br>