<div class="container" align="center">
	<div class="">
			<h2 class="my-5">Ready to share a new adventure?!</h2>
			<div class="col-md-8">
			<%= form_for @post, html: { multipart: true } do |f| %>

				<% if @post.errors.any? %>
				  <div id="error_explanation">
				    <h2>
				      <%= pluralize(@post.errors.count, "error") %> prohibited
				      this post from being saved:
				    </h2>
				    <ul>
				      <% @post.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				    </ul>
				  </div>
				<% end %>
				<p><%= f.file_field :image %></p>

				<div class="selectpicker country" align="left">
					<%= f.label :Country %>
					<%= f.select :location, options_for_select(CS.countries.values.each), {}, class: "form-control" %>
					<!-- <%= f.select :location, options_for_select(CS.states('#holder.val()').values.each) %> -->
				</div>

				<div class="field" align="left">
					<%= f.label :Price %><br />
					<%= f.text_field :price, placeholder: "Price", class: "form-control" %>
				</div>

				<div class="selectpicker" align="left">
					<%= f.label :Rating %><br />
					<%= f.select(:rating, options_for_select([[1],[2],[3],[4],[5]]), {}, class: "form-control") %>
				</div>

				<div class="field" align="left">
				<%= f.label :Description %><br />
				<%= f.text_area :description, placeholder: "Description", class: "form-control" %>
				</div><br />

				<%= f.hidden_field :user_id, value: @user_id %>

				<div align="center" class="my-3">
					<%= f.submit "Upload post", class: "btn-lg btn-success" %>
				</div>

			<% end %>
			</div>
	</div>	
</div>



