<div class="container">
	<div class="row">
		<h2>All my posts</h2>
			<% @post.each do |post| %>
				<div class="col-md-12">
				
						<div class="col-md-6">
					    	<%= image_tag post.image.url(:small) %> <br />
						    <strong>Location: </strong><%= post.location %>	<br />	  
						    <strong>Price: $</strong><%= post.price.to_i %>	<br />	  
						    <strong>Rating: </strong><%= post.rating %> <br />	  
						</div>  
					    <div class="col-md-6">	
							<strong>Description: </strong><%= post.description %>
							<%= link_to 'Edit Post', edit_post_path(post) %>
							<%= link_to 'Delete This Post', post_path(post.id), method: :delete, data: { confirm: 'Are you sure?' } %> 
						</div> 

				</div>
			<% end %>
	</div>
</div>


