<div class="container">

		<h2 align="center" class="my-5">Here are your posts <%= @user %> </h2>
			<% @post.each do |post| %>
			<div class="row">
				<div class="col">
			    	<%= image_tag post.image.url(:medium) %> <br />  
				</div>  
			    <div class="col jumbotron">
				    <strong>Location: </strong><%= post.location %>	<br />	  
				    <strong>Price: $</strong><%= post.price.to_i %>	<br />	  
				    <strong>Rating: </strong><%= post.rating %> <br />		
					<strong>Description: </strong><%= post.description %><br />
					<%= link_to 'Edit Post', edit_post_path(post) %><br />
					<%= link_to 'Delete This Post', post_path(post.id), method: :delete, data: { confirm: 'Are you sure?' } %> 
				</div> 
			</div><br />	
			<% end %>

</div>


