<!DOCTYPE html>
<html>
  <head>
    <title>Backpacker</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to "BRAND", root_path, class: "nav-link" %>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <% if user_signed_in? %>
    <div class="mr-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Latest Posts", posts_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#"><%= link_to "My Profile", user_path(current_user.username) %></a>
            <a class="dropdown-item" href="#"><%= link_to "Edit Profile", edit_user_registration_path %></a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Posts
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#"><%= link_to "New Post", new_post_path %></a>
            <a class="dropdown-item" href="#"><%= link_to "View My Posts", posts_show_path %></a>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "log_out nav-link" %>
        </li>
      </ul>
      <% else %>
      <div class="mr-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Signup", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link"  %>
        </li>
      </ul>
      <% end %>
    </div>
  </nav>

    <%= yield %>

    <%= render 'partials/footer' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </body>
</html>
